body {
    padding-top: 70px;
	/* background-image: url(https://images.unsplash.com/photo-1415369629372-26f2fe60c467?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ec13e2bc38df66aaaf8d88ff4607dfe1&auto=format&fit=crop&w=668&q=80); */
	background-size: cover;
	background-position: center;
	font-family: Lato;
	color: black;
}

.jumbotron {
	color: #2c3e50;
	background: #ecf0f1;
}

.navbar-inverse {
	background: #2c3e50
}

.navbar-inverse .navbar-nav>li>a {
	/*found this selector from inspecting the element on the page I wanted to change*/
	color: white;
}

.navbar-inverse .navbar-brand {
	color: white;
}

.navbar.scrolled {
    background: rgb(193, 197, 204);
    transition: background 500ms;
}

html {
	height: 100%;
}

#content {
	text-align: center;
	padding-top: 25%;
	/* % is better for responsive*/
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);
}

h1 {
	font-weight: 700;
	font-size: 5em;
}

hr {
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

.mealDisplay {
	text-align: center;
	padding: 50px;
}

.displayArea {
	padding: 50px;
	font-weight: 600;
	font-size: 100px;
}

.inline {
	display: inline-block;
}

/* Dropdown Button */
.dropbtn {
  background-color: #ffffff;
  color: #337ab7;
  padding: 16px;
  font-size: 13px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #3399ff;
  color: #ffffff;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

